/* trang mặt hàng */
/* không gian chứa mặt hàng */
.ItemImageProductPage1 {
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(308px, 1fr));
    margin-top: -520px;
    /* Adjust this value to move the container up */
}

.ItemImageProductPageOne {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background-color: white;
    transition: transform 0.3s;
}

.ImageBlockItemImageProductPageOne {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(247, 247, 247); */
    padding: 20px;
}

.ProductImageProduct {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.ProductNameProduct {
    padding: 20px;
    border: 1px solid #efeeee;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product__name__link:hover {
    color: #c45500;
}

.product__name__link {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.PriceProductDetailPage {
    display: flex;
    align-items: baseline;
}

.RateHomeDetail {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.AddToCartButton {
    background-color: #febd69;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.SaleProductPage {
    color: #727171;
    font-size: 14px;
}

.DeliveryHomepage {
    font-size: 14px;
    color: #555;
}

.items__space {
    height: 100vh;
    /* nhớ sửa lại màu khi xong */
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.items__container {
    min-width: 1000px;
    max-width: 1500px;
    margin: auto;
    background-color: white;
}

.items__box {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.25rem;
}

.items__box__left {
    grid-column: span 3;
    background-color: white;
    padding: 2rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.item__box__left__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.items__box__middle {
    grid-column: span 5;
    background-color: white;
    padding: 1rem;
    border-radius: 0.25rem;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.items__box__middle__up {
    border-bottom: 1px solid #d1d5db;
    margin-bottom: 0.75rem;
}

.items__box__right {
    grid-column: span 2;
    background-color: white;
    padding: 1rem;
    border-radius: 0.25rem;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.items__box__middle__down {
    font-size: 1rem;
    margin-top: 0.75rem;
}

/* right box */
.items__box__right__currency {
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 5px;
}

.items__box__right__text {
    font-size: 0.875rem;
    font-weight: 600;
    padding-bottom: 5px;
    color: #007185;
}

.items__box__right__stock {
    font-size: 0.875rem;
    font-weight: 600;
    padding-bottom: 5px;
    color: #297600;
}

.items__box__right__button {
    background-color: #facc15;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
    margin-top: 0.25rem;
    cursor: pointer;
}

.items__box__right__button:hover {
    background-color: #fbbf24;
    cursor: pointer;
}