<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Acoount Existed Page</title>
    <link rel="stylesheet" href="/css/AcoountExisted.css">
</head>

<body>
    <div class="container">
        <img src="/images/login.png" alt="Login page">
        <div class="Title">Account Existed</div>
        <div class="AcoountExisted">
            <form action="/" method="get">
                <fieldset>
                    <legend>Account Existed</legend>
                    <div class="input-group">
                        <label>Your email has already been registed. </label>
                    </div>
                    <button type="submit">Back to login</button>
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>