<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Authentication Success Page</title>
    <link rel="stylesheet" href="/css/AuthenticationSuccessForgetPasswordPage.css">
</head>

<body>
    <div class="container">
        <img src="/images/login.png" alt="Login page">
        <div class="Title">Authentication Success</div>
        <div class="Authentication_success">
            <form action="/ResetPassword" method="get">
                <fieldset>
                    <legend>Authentication Success</legend>
                    <div class="input-group">
                        <label>You have successfully authenticate an account please click the button below to reset your
                            password. </label>
                    </div>
                    <!-- Hidden inputs to pass the additional data -->
                    <input type="hidden" name="email" value="<%= email %>">
                    <button type="submit">Reset password</button>
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>