<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Authentication Success Page</title>
    <link rel="stylesheet" href="/css/AuthenticationSuccessPage.css">
</head>

<body>
    <div class="container">
        <img src="/images/login.png" alt="Login page">
        <div class="Title">Register Success</div>
        <div class="Register_success">
            <form action="/" method="get">
                <fieldset>
                    <legend>Register Success</legend>
                    <div class="input-group">
                        <label>You have successfully created an account please click the button below to return to login
                            page. </label>
                    </div>
                    <button type="submit">Login</button>
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>