<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/css/Login.css">
</head>

<body>
    <div class="container">
        <img src="/images/login.png" alt="Login page">
        <div class="Title">Login</div>
        <div class="Login_form">
            <form action="/loginValidation" method="post">
                <fieldset>
                    <legend>Login</legend>
                    <div class="input-group">
                        <label>User Name: </label>
                        <input type="text" name="username" required />
                    </div>
                    <div class="input-group">
                        <label>Password: </label>
                        <input type="password" name="password" required />
                    </div>
                    <div>
                        <button type="submit">Login</button>
                    </div>
                </fieldset>
            </form>
            <div class="register">
                <form action="/Register" method="get">
                    <button type="submit">Register</button>
                </form>
            </div>
            <div class="Forget-Password">
                <form action="/ForgetPassword" method="get">
                    <button type="submit">Forget Password</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>