.ProductPage {
    width: 100%;
    height: 100%;
    position: relative;
}

.ProductTopBanner {
    display: flex;
    box-shadow: 0 0 1px #747474;
    height: 50px;
    padding: 0 9px 0 15px;
    gap: 25px;
}

.ProductTopBannerItems {
    padding: 0 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.ProductTopBannerItemsSubMenu {
    padding: 0 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.ProductPageMain {
    display: flex;
    padding: 16px 8px;
}

.ProductPageMainLeftCategory {
    width: 14%;
    border-right: 2px solid #ddd;
    padding: 0 10px;
}

.ProductPageMainLeftCategoryTitle {
    font-size: 14px;
    font-weight: 700;
}

.ProductPageMainLeftCategoryContent {
    margin-top: 10px;
    font-size: 14px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.ProductPageMainLeftCategoryContentSub {
    font-weight: 600;
}

.RatingLeftBox {
    display: flex;
}

.AndUp {
    font-size: 12px;
    font-weight: 400;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProductPageMainRight {
    width: 86%;
    padding: 0 0 0 12px;
}

.ProductPageMainRightTopBanner {
    width: 99%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 20px 0;
    padding: 14px 38px;
    border-radius: 5px;
    font-size: 14px;
}

.ProductPageMainRightTopBannerSpan {
    color: #c45500;
    font-weight: 700;
}

.ItemImageProductPage {
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(308px, 1fr));
}

.ItemImageProductPageOne {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background-color: white;
    transition: transform 0.3s;
}

.ItemImageProductPageOne:hover {
    transform: scale(1.05);
}

.ImageBlockItemImageProductPageOne {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(247, 247, 247); */
    padding: 20px;
}

.ProductImageProduct {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.ProductNameProduct {
    padding: 20px;
    border: 1px solid #efeeee;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ProductNameProduct>div:first-child {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
}

.product__name__link {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.product__name__link:hover {
    color: #c45500;
}

.ProductNameProductRating {
    display: flex;
    margin: 5px 0;
}

.PriceProductDetailPage {
    display: flex;
    align-items: baseline;
}

.CurrencyText {
    font-size: 20px;
}

.RateHomeDetail {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.AddToCartButton {
    background-color: #febd69;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.AddToCartButton:hover {
    background-color: #f3a847;
}

.SaleProductPage {
    color: #727171;
    font-size: 14px;
}

.DeliveryHomepage {
    font-size: 14px;
    color: #555;
}